<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cf.spacetaste.backend.mapper.MatzipMapper">

    <select id="search" resultType="MatzipModel">
        SELECT DISTINCT a.* FROM matzip AS a LEFT JOIN matzip_hashtag AS b ON a.matzip_id = b.matzip_id
        <where>
            <if test="requiredTags != null and requiredTags.size != 0">
                b.hashtag_id IN
                <foreach item="item" collection="requiredTags" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <trim prefix="AND (" prefixOverrides="AND |OR " suffix=")">
                <if test="optionalTags != null and optionalTags.size != 0">
                    b.hashtag_id IN
                    <foreach item="item" collection="optionalTags" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="term != null and term != ''">
                    OR a.address_base LIKE #{term} OR a.address_detail LIKE #{term} OR a.name LIKE #{term}
                </if>
            </trim>
        </where>
        ORDER BY a.matzip_id DESC LIMIT 100
    </select>

</mapper>
